/* styles.css */
.responsive-text {
    font-size: 1rem; 
  }
  
  @media (min-width: 600px) {
    .responsive-text {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 900px) {
    .responsive-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .responsive-text {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 1536px) {
    .responsive-text {
      font-size: 3rem;
    }
  }