<!DOCTYPE html>
<html>
    <head>
        <title>Vivid Panda</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    </head>
    <body>
        <main class="container text-center my-5">
            <h1><b>Vivid Panda</b></h1>
            <h2 class="my-4">Password changed successfully! You can now log in!</h2>
            <a href="{{ url_for('login') }}" class="mr-3">Go to login page!</a>
        </main>
    </body>
</html>
