
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logoBackground {
  background-image: url("/logo.png");
  background-repeat: no-repeat;
}

.logoSadBackground {
  background-image: url("/logosad.png");
  background-repeat: no-repeat;
}


@media (min-width: 1281px) and (max-width: 2560px)  {
  .logoBackground {
    background-size: 90%; /* Large screens */
  }
}

@media (min-width: 1280px) {
  .logoBackground {
    background-size: 75%; /* Large screens */
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .logoBackground {
    background-size: 55%; /* Medium screens */
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .logoBackground {
    background-size: 35%; /* Small screens */
  }
}

@media (max-width: 639px) {
  .logoBackground {
    background-size: 20%; /* Extra small screens */
  }
}

textarea:focus, input:focus{
  outline: none;
}

.btn-success {
  background-color: rgb(var(--info));
}

.btn-success:hover {
  background-color: rgb(var(--hover));
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.custom-input {
  color: black;
}

.custom-margin {
  margin-bottom: 10px;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .custom-margin {
    margin-bottom: 15px;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .custom-margin {
    margin-bottom: 50px;
  }
}

@media (min-width: 2560px) {
  .custom-margin {
    margin-bottom: 100px;
  }
}

.custom-gap {
  gap: 8px; 
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .custom-gap {
    gap: 8px; 
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .custom-gap {
    gap: 30px; 
  }
}

@media (min-width: 2560px) {
  .custom-gap {
    gap: 55px;
  }
}

.loading-circle {
  width: 10vw; 
  height: 10vw; 
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw; 
  color: rgb(204, 24, 84);
}

.loading-circle::before {
  content: "";
  position: absolute;
  width: 350%; 
  height: 350%; 
  border-radius: 50%;
  border: 3vw solid rgb(204, 24, 84); 
  border-top-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

